* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/* ----------app header---------- */

header {
    background-color: #ffffff;
    padding: 10px 20px;
}
.app-title {
    display: inline-block;
    vertical-align: middle;
}
.app-logo {
    vertical-align: middle;
}
/* ----------/app header---------- */


/* ----------container---------- */
.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
}
/* ----------/container---------- */

/* ----------barra comandi---------- */
.command-bar {
    padding: 10px 40px;;
}
.button-10 {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #14aaf5;
  }  
  .button-20 {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid #c4cbd0;
    color: #c4cbd0;
    background-color: white;
  }
/* ----------/barra comandi---------- */
