* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/* ----------app header---------- */

header {
    background-color: #ffffff;
    padding: 10px 20px;
}
.app-title {
    display: inline-block;
    vertical-align: middle;
}
.app-logo {
    vertical-align: middle;
}
/* ----------/app header---------- */

/* ----------container---------- */
.container {
    max-width: 800px;
    margin: 2px auto;
    background-color: white;
}
/* ----------/container---------- */
main {
    margin-bottom: 25px;
    color: #434851;
}
/* ----------barra comandi---------- */
.container.bar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.command-bar {
    padding: 10px 40px;
    margin-top: 40px;
}
.button-10 {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 6px;
    border: #14aaf5;
    color: #fff;
    background-color: #14aaf5;
}  
  .button-20 {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid #c4cbd0;
    color: #c4cbd0;
    background-color: white;
}
/* ----------/barra comandi---------- */

/* ----------tasks---------- */
.tasks {
    padding: 40px;
}
.circle {
    display: inline-block;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}
.circle-done {
    color: #2cc6ab;
    border-color: #2cc6ab;
}
.circle-danger {
    color: #ff1b1b;
    border-color: #ff1b1b;
}
.tag {
    display: inline-block;
    background-color: red;
    height: 30px;
    padding: 6px 10px;
    color: #ffffff;
    border-radius: 16px;
    font-size: 11px;
    line-height: 20px;
}
.tag-blue {
    background: #14aaf5;
}
.tag-aquamarine {
    background: #2cc6ab;
}
.tag-purple {
    background: #ab5de6;
}
.tag-orange {
    background: #ff9b00;
}
.tag-pink {
    background: #ec4a9d;
}
.tag-green {
    background: #a3d116
}
.task {
    font-size: 20px;
}
span {
    margin: 5px;
    line-height: 40px;
}
.container.tasks {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* ----------/tasks---------- */